.bio-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.user-profile {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  padding-top: 1%;
}

.letterIconBig {
  width: 80px;
  height: 80px;
  font-size: 40px;
}


.profile-name {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

.user-bio {
  min-width: 100px;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #E8E8E8;
}

.text-bio {
  margin: 5px;
  padding: 3px;
}

.btn-post {
  width: auto !important;
}

.bio-btn {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.edit-textarea {
  width: 95%;
  height: auto;
  margin: 2px 2px;
  padding: 5px;
  resize: none;
}

@media only screen and (min-width: 768px) {
  .user-profile {
    max-width: 650px;
  }

  .user-bio {
    max-width: 300px;
  }
}