@import url(auth.css);
@import url(feed.css);
@import url(profile.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #04151F;
  background-color: #26c791;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.logo-img{
  width: 20em;
}

.btn {
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5em;
  margin: 1em;
  width: 200px;
  border-radius: 7px;
  cursor: pointer;
}

.btn-gray {
  background-color: #f4edd9;
  color: black;
  border: 1px solid black;
}

.btn-gray:hover {
  border: 1px solid #5271ff;
  transition: all .15s linear;
}